/* Custom Cursor Style */
.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #059669;
}

.cursor-outline {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(5, 150, 105, 0.5);
  transition: width 0.2s, height 0.2s, background-color 0.2s;
}

@media (max-width: 768px) {

  .cursor-dot,
  .cursor-outline {
    display: none;
  }
}