@import 'tailwindcss';
@import './layout.css';
@import './animations.css';
@import './beranda-animasi.css';
@import './beranda-styles.css';
@import './berita-detail.css';
@import './infografis-detail.css';
@import './infografis.css';
@import './sotk.css';
@import './pengaduan.css';
@import './profil.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}